/* Global style */
body {
    font-family: Arial, sans-serif;
    margin: 10;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10;
    background-color: #f0e1bb;
}

@media screen and (max-width: 600px) {
    body {
        padding: 1%;
    }

    p {
        font-size: smaller;
    }
}

p {
    margin-left: 5%;
    margin-right: 20%;

}

.logo {
    position: fixed;
    left: 0%;
    top: 45%;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;

}

/*  Set the appearance of the navigation bar, including background, word colour, indentation, and centering */
.navbar {
    background-color: #ff9a3c;
    color: #fff;
    padding: 1% 0;
    padding-left: 1%;
    text-align: center;
    font-size: 110%;

}

/*Here are the details about the settings in the navigation bar*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navbar ul li {
    display: inline;
    margin-right: 20px;

}

.navbar ul li a {
    color: #fff;
    text-decoration: none;

}

/*Home Page Image Setting*/
.index_image {
    text-align: center;

}

/* Title settings, including colour, position, background, etc. */
h1,
h2,
h3 {
    color: #155263;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1%;
    padding-top: 1%;
}

/*Here are the headings for the different classes to do the detail settings*/
h1 {
    background-color: #ffc93c;
    height: 30%;
    padding: 1.5% 1.5%;
    font-size: 300%;
}

h2 {
    background-color: #ffc93c;
    height: 20%;
    padding: 1% 1%;
}

h3 {
    height: 20%;
    padding: 1% 1%;
}




/* Button styles */
.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 1% 1%;
    text-decoration: none;
    border-radius: 1%;

}

/*Setting for left and right placed images*/
.IMG_L,
.IMG_R {
    margin-top: 1%;
    margin-bottom: 1%;
}


.IMG_L ul,
.IMG_R ul {
    list-style-type: none;
    padding: 1%;
}

.IMG_L li,
.IMG_R li {
    margin-bottom: 5%;
    overflow: hidden;
}

.IMG_L li img,
.IMG_R li img {
    margin-right: 3%;
    max-width: 50%;
}

.IMG_L li p,
.IMG_R li p {
    font-size: 100%;
    margin-top: 3%;
}

.IMG_L li div img,
.IMG_R li div img {
    max-width: 100%;
}

.IMG_L li img {
    float: left;
}

.IMG_R li img {
    float: right;
}


/*This paragraph focuses on the About Us page*/
.flex-container {
    display: flex;
    list-style-type: none;
    padding: 0;

}

.flex-item {
    flex: 1;
    margin: 0 10px;
}

.flex-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-item figcaption {
    text-align: center;
}


/*A setting specifically for li, mainly to hide the little black dot in front of the*/
.hid_point li {
    overflow: hidden;
    list-style-type: none;

}

/*This paragraph is mainly aimed at making the text displayed by hyperlinks black.*/
.hid_point a {
    color: black;
}

.hid_point strong {
    color: #155263;
}

.About li {
    overflow: hidden;
}

/*This paragraph is mainly for the Volunteer page and the Support Us page*/
.flex-item_A h3,
.flex-item_A p {
    text-align: center;
}

.flex-item_A p {
    margin-left: 0%;
    margin-right: auto;

}


.flex-item_A img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;


}